@model  WebApp.Models.IndexModelView

@{
    ViewBag.Title = "Factura";
}

<meta name="viewport" content="width=device-width" />
<title>Add</title>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" id="idDivFactura">
    <h4>FACTURA</h4>
    <hr />
    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IDFACTURA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IDFACTURA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IDFACTURA, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.facturaModel.NUMEROFACTURA, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-sm-2">
            @Html.EditorFor(model => model.facturaModel.NUMEROFACTURA, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.facturaModel.NUMEROFACTURA, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.facturaModel.FECHA, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-sm-2">
            @Html.EditorFor(model => model.facturaModel.FECHA, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.facturaModel.FECHA, "", new { @class = "text-danger" })
        </div>

        @Html.LabelFor(model => model.facturaModel.TIPODEPAGO, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-sm-2">
            @Html.EditorFor(model => model.facturaModel.TIPODEPAGO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.facturaModel.TIPODEPAGO, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.facturaModel.DOCUMENTOCLIENTE, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-sm-2">
            @Html.EditorFor(model => model.facturaModel.DOCUMENTOCLIENTE, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.facturaModel.DOCUMENTOCLIENTE, "", new { @class = "text-danger" })
        </div>

        @Html.LabelFor(model => model.facturaModel.NOMBRECLIENTE, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-sm-2">
            @Html.EditorFor(model => model.facturaModel.NOMBRECLIENTE, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.facturaModel.NOMBRECLIENTE, "", new { @class = "text-danger" })
        </div>

        @Html.LabelFor(model => model.facturaModel.SUBTOTAL, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-sm-2">
            @Html.EditorFor(model => model.facturaModel.SUBTOTAL, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.facturaModel.SUBTOTAL, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.facturaModel.DESCUENTO, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-sm-2">
            @Html.EditorFor(model => model.facturaModel.DESCUENTO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.facturaModel.DESCUENTO, "", new { @class = "text-danger" })
        </div>

        @Html.LabelFor(model => model.facturaModel.IVA, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-sm-2">
            @Html.EditorFor(model => model.facturaModel.IVA, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.facturaModel.IVA, "", new { @class = "text-danger" })
        </div>

        @Html.LabelFor(model => model.facturaModel.TOTALDESCUENTO, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-sm-2">
            @Html.EditorFor(model => model.facturaModel.TOTALDESCUENTO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.facturaModel.TOTALDESCUENTO, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.facturaModel.TOTALIMPUESTO, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-sm-2">
            @Html.EditorFor(model => model.facturaModel.TOTALIMPUESTO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.facturaModel.TOTALIMPUESTO, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.facturaModel.TOTAL, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-sm-2">
            @Html.EditorFor(model => model.facturaModel.TOTAL, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.facturaModel.TOTAL, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-horizontal" id="idDivDetalleFactura" style="display: block">
        <h4>Detalle Factura</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.detalleFacturaModel.IDPRODUCTO, "IDPRODUCTO", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ddlProducto", ViewBag.IDPRODUCTO as SelectList, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.productoFactura, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.detalleFacturaModel.NOPRODUCTOS, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.detalleFacturaModel.NOPRODUCTOS, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.detalleFacturaModel.NOPRODUCTOS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.detalleFacturaModel.DESCUENTO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.detalleFacturaModel.DESCUENTO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.detalleFacturaModel.DESCUENTO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.detalleFacturaModel.VALORUNIDAD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.detalleFacturaModel.VALORUNIDAD, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.detalleFacturaModel.VALORUNIDAD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.detalleFacturaModel.TOTALPAGO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.detalleFacturaModel.TOTALPAGO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.detalleFacturaModel.TOTALPAGO, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

